pfSense 2.4.5 and remote syslog message size

**Describe the bug**
Sorry, not a bug per se and not an issue with pfELK/ELK. But I wanted to draw attention to it here as it affected me when I upgraded pfSense and took some time to diagnose as the local syslog messages are not affected. So hopefully helps other users of pfSense & ELK.

**sdyslogd in pfSense 2.4.5 truncates messages sent to remote syslog host at 480 bytes**, resulting in truncated JSON and failed message parsing in logstash.
This max message size is harcoded in FreeBSD syslogd 11.3 see 
https://forums.freebsd.org/threads/syslogd-truncating-messages-after-upgrade-from-11-2-release-p9-to-11-3-release-p3.72948/

**To Reproduce**
Upgrade pfSense to 2.4.5

**Firewall System**
 pfSense 2.4.5 


@kingtat - Thanks.  This was identified with issue #111 which was derived from issues #91 and #103.  Here is an exert from RFC5424 - The Syslog Protocol (https://tools.ietf.org/html/rfc5424).   

##Paragraph 6.1
``` 
Any transport receiver MUST be able to accept messages of up to and
   including 480 octets in length.  All transport receiver
   implementations SHOULD be able to accept messages of up to and
   including 2048 octets in length.  Transport receivers MAY receive
   messages larger than 2048 octets in length.  If a transport receiver
   receives a message with a length larger than it supports, the
   transport receiver SHOULD truncate the payload.  Alternatively, it
   MAY discard the message.
```
##Paragraph 8.3
```
Message truncation can be misused by an attacker to hide vital log
   information.  Messages over the minimum supported size may be
   discarded or truncated by the transport receiver.  As such, vital log
   information may be lost.

   In order to prevent information loss, messages should not be longer
   than the minimum maximum size required by Section 6.1.  For best
   performance and reliability, messages should be as small as possible.
   Important information should be placed as early in the message as
   possible because information at the beginning of the message is less
   likely to be discarded by a size-limited transport receiver.

   An originator should limit the size of any user-supplied data within
   a syslog message.  If it does not, an attacker may provide large data
   in hopes of exploiting a potential weakness.
```

RFC3164 - The BSD Syslog Protocol (https://tools.ietf.org/html/rfc3164) also states this, ```Devices MUST NOT retransmit messages whose received length exceeds 1024 bytes.```

Additionally, as specified in the format it SHOULD contained the hostname. pfSense elected not include that part of the RFC either.  Not an issue but results in two separate filters within 01-inputs.conf to delineate between pfSense and OPNsense.

Based on RFC 5424 the reasoning or rational appears to be for security mitigation to of an exploitable weakness.  This part of the RFC has long been ignored until recently as it was codified within the RFC in 2009 (RFC5424) and 2001 (RFC3154); I suspect it will not be long before OPNsense implements. 

Researching into how to receive truncated syslog messages and then processing...nothing yet. 




I missed the fact the existing issues already referred to 480 byte threshold. Thanks for the references.
I'd encountered the 1024 byte truncate limit and was able to keep message size within that. But 480 byte rules out remote syslogging of suricata alerts.
Many thanks for your work on pfELK.


Issue captured in issue #111 